@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=DynaPuff&family=Hi+Melody&family=Lobster&family=Pacifico&display=swap");

/*SpoqaHanSansNeo*/
@font-face {
  font-family: "SpoqaHanSans"; /*내가 정해준 이름*/
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("SpoqaHanSansNeoRegular"),
    url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff2")
      format("woff2"),
    url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "SpoqaHanSans"; /*내가 정해준 이름*/
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff2")
      format("woff2"),
    url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff") format("woff");
}

@font-face {
  font-family: "SpoqaHanSans"; /*내가 정해준 이름*/
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff2")
      format("woff2"),
    url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "SpoqaHanSans"; /*내가 정해준 이름*/
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff2")
      format("woff2"),
    url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff")
      format("woff");
}

@font-face {
  font-family: "SpoqaHanSans"; /*내가 정해준 이름*/
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff2")
      format("woff2"),
    url("./SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff") format("woff");
}
