@charset "utf-8";

body {
  margin: 0;
  font-size: 18px;
}
.border {
  border: 1px solid #000;
  padding: 20px;
}

.container {/* 1042px */
  margin:7px auto;
  width: 1001px;
}
.container h1 {
  margin: 0;
  padding: 44px 20px;
}
.container main {
  float: left;
}

.container main .side{
  float: left;
  width: 165px;
  background-color: #000;
  color: #fff;
  margin: 20px;
  margin-left: 0px;
  padding: 20px;
}

.container main .bar{
    float: left;
    width: 203px;
    background-color: #000;
    color: #fff;
    margin: 20px;
    padding: 20px;
  }

.container main aside .bar{
    width: 100px;
    
}

.container main article {/* 602 */
  float: left;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container footer {/* clearfix */
  content: "";
  display: block;
  clear: both;
}