@charset "utf-8";

body {background-color: rgb(37, 37, 37);}
        #html501 {color: rgb(147, 185, 255);
            background-color: darkgoldenrod;}
        #html502 {color: rgb(246, 150, 255);
            background-color: darkgoldenrod;}
        #html503 {color: rgb(255, 251, 42);
            background-color: darkgoldenrod;}
         #html504 {color: rgb(185, 255, 139);
            background-color: darkgoldenrod;}