@charset "UTF-8";

body {font-family: '나눔바른고딕', '맑은 고딕', '돋음', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #222;}
/* 축약형: font-size, font-family는 필수 작성
font: xxx font-size (/line-height) font-family; 
line-height 작성시 반드시 font-size 뒤에 /포함 작성
font-family는 반드시 제일 마지막 작성
font: 18px / 1.6 '나눔바른고딕', 맑은 고딕', '돋움', sans-serif;
근데 축약형 잘 안씀 */

/******* main *******/
main > h1 
    {background-color: #BBD6B8;
    color: white;
    text-align: center; /* 인라인 요소 중앙 정렬 */
    font-family: Arial, Helvetica, sans-serif;}

main .deco_color 
/* 하위 선택자: 기준 선택자 하위(자식, 자속 모두 포함)에 있는 선택자. 띄어쓰기로 표기 */
    {color: red;
    font-size: 16px;}

/******* section *******/
main > section
    {text-align: center;
    background-color: #ddd;}

main > section > h2
    {color: #6b8676;
    text-decoration: underline;
    font-size: 22px;
    font-weight: normal;}

main > section > a
    {text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: #222;}
main > section > a:hover
    {background-color: #DBE4C6;
    color: #222;}

/******* container *******/
main > .container
    {background-color: #E9EDC9;}

main > .container > h2
    {text-align: center;
    text-decoration: underline;
    color: #222;}

main > .container > section > h3
    {background-color: #CCD5AE;
    color: white;
    text-align: right;}

main > .container > section > ul > .dec_bg
/* main > .container .dec_bg도 가능 */
    {background-color: rgba(160, 24, 160, 0.452);}

main > .container > section > .left
/* main > .container h3.left
{}  종속 선택자: 띄어쓰기 없이 작성. h3요소가 가진 클래스 중에 left 값을 가진 요소 탐색*/
    {background-color: transparent;
    text-align: left;
    color: #222;}
