@charset "utf-8";
/****** header *******/
header {
  border-bottom: 1px solid var(--gray-color);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .header-wrapper {
  width: 93%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  width: 75px;
  /* height: 60px; */
}
header a {
  display: block;
}
header nav .global-nav {
  display: none;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 2% 3%;
  position: fixed;
  top: 60px;
  left: 0;
}
header nav .global-nav a {
  border-bottom: 1px solid var(--gray-color);
  padding: 14px 5px 10px;
  font-family: var(--en-font);
  font-weight: 500;
}
header nav .global-nav li:last-child a {
  border-bottom: none;
}
header nav .mobile-btn {
  position: absolute;
  top: 50%;
  right: 3.5%;
  transform: translateY(-50%);
}
header nav .mobile-btn span {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 3px;
  transition: 0.4s;
  background-color: var(--main-color);
  border-radius: 16px;
}
header nav .mobile-btn span::before,
header nav .mobile-btn span::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  transition: 0.4s;
  background-color: var(--main-color);
  border-radius: 16px;
}
header nav .mobile-btn span::after {
  top: 10px;
}

/****** contents *******/
.layout-wrapper {
  width: 85%;
  margin: 20px auto;
}
.tittle {
  text-align: center;
  font-family: var(--en-font);
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-top: 50px;
}
.tittle::after {
  content: "";
  width: 70px;
  height: 2px;
  background-color: var(--main-color);
  display: block;
  margin: 30px auto 50px;
}
.tittle + p {
  text-align: center;
  width: 70%;
  margin: 50px auto;
}

/****** main-slide *******/
.main-slide {
  border-bottom: 1px solid var(--main-color);
  height: 90vh;
  text-align: center;
}

/****** main-intro *******/
.main-intro {
  display: grid;
  grid-auto-rows: 200px;
}
.main-intro section {
  border-bottom: 1px solid var(--gray-color);
  padding: 20px;
}
.main-intro section:last-child {
  border-bottom: none;
}
.main-intro section h3 {
  font-family: var(--en-font);
  font-weight: 700;
  font-size: 1.6rem;
  margin: 20px 0 10px;
}

/****** main-grid *******/
.main-grid {
  display: grid;
  gap: 1vw;
}
.main-grid section {
  background: no-repeat 50% / cover;
  transition: 0.4s;
  height: 40vh;
  overflow: hidden;
}
.main-grid .grid-bg1 {
  background-image: url(./img/article1-1.jpg);
}
.main-grid .grid-bg2 {
  background-image: url(./img/article1-2.jpg);
}
.main-grid .grid-bg3 {
  background-image: url(./img/article1-3.jpg);
}
.main-grid .grid-bg4 {
  background-image: url(./img/article1-4.jpg);
  height: 20vh;
}
.main-grid .grid-bg5 {
  background-image: url(./img/article1-5.jpg);
  height: 20vh;
}
.main-grid .grid-bg6 {
  background-image: url(./img/article1-6.jpg);
}
.main-grid .grid-bg7 {
  background-image: url(./img/article1-7.jpg);
}
.main-grid section h3 {
  font-family: var(--en-font);
  font-weight: 700;
  font-size: 2rem;
  display: grid;
  place-items: center;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  transform: translateY(-15px);
  opacity: 0;
}
.main-grid section:hover h3 {
  transform: translateY(0);
  opacity: 1;
  color: var(--point-color);
  /* background-color: rgba(255, 255, 255, 0.5); */
  /*filter: blur(10px); 해당 요소에 필터 적용*/
  backdrop-filter: blur(5px) grayscale(20%);
}

/****** main-business *******/
.main-business .main-business-list {
  display: grid;
  gap: 6vw;
  text-align: center;
}
.main-business .main-business-list strong {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 20px 0 0;
}
/****** main-youtube *******/
.main-youtube {
  background-color: var(--gray-color);
  margin-top: 150px;
  padding: 30px 0;
}
.main-youtube .main-youtube-txt {
  display: flex;
  flex-direction: column;
  width: 84%;
  margin: 0 auto;
}
.main-youtube .main-youtube-txt h2 {
  font-family: var(--en-font);
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.main-youtube .main-youtube-video iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

/****** main-service *******/
.main-service {
}
.main-service .service-gallery {
  display: flex;
  overflow: hidden;
  margin: 50px 0 100px;
}
.main-service .service-gallery li {
  flex-shrink: 0;
  box-shadow: 0px 3.5px 5px rgba(0, 0, 0, 0.032),
    0px 7.4px 9.9px rgba(0, 0, 0, 0.045), 0px 11.8px 16.2px rgba(0, 0, 0, 0.054),
    0px 16.6px 26.1px rgba(0, 0, 0, 0.064), 0px 22px 53px rgba(0, 0, 0, 0.09);
}
.main-service .sevice-gallery li .service-gallery-txt {
  padding: 20px;
}
.main-service .sevice-gallery li .service-gallery-txt h4 {
  font-weight: 700;
}

/*** main-location ***/
.main-location {
}

.main-location .title::after {
  content: none;
}

.main-location .location-menu {
  position: relative;
}

.main-location .location-menu li h3 {
  text-transform: uppercase;
  font-family: var(--en-font);
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 700;
  border-bottom: 1px solid var(--gray-color);
  padding: 6px 0;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 0;
}

.main-location .location-menu .location-factory h3 {
  left: 50%;
}
.main-location .location-menu .location-office {
}
.main-location .location-menu .location-office .location-map .location-info {
  margin: 50px 0 100px;
}
.main-location .location-menu .location-office .location-map .location-info li {
  border-bottom: 1px solid var(--gray-color);
  padding: 10px;
}
.main-location
  .location-menu
  .location-office
  .location-map
  .location-info
  li:last-child {
  border-color: var(--main-color);
}
.main-location .location-menu .location-office .location-map .kakao-map {
  border: 1px solid var(--main-color);
  width: 100%;
  height: 400px;
}
.main-location
  .location-menu
  .location-office
  .location-map
  .location-info
  li
  strong {
  display: block;
  font-weight: bold;
}
.main-location .location-menu li .tab-box {
  display: none;
  padding-top: 100px;
}
.main-location .location-menu .location-factory {
}
.main-location .location-menu li.active h3 {
  border-bottom: 3px solid var(--main-color);
}
.main-location .location-menu li.active .tab-box {
  display: block;
}
/****** main-talk *******/
.main-talk {
  background: fixed url(./img/article7.jpg) no-repeat 50% / cover;
  text-align: center;
  color: white;
}
.main-talk .color-layer {
  background-color: rgba(46, 135, 153, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-talk .color-layer h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 50px 0;
}
.main-talk .color-layer h2 + p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.main-talk .color-layer .ghost-btn {
  border: 2px solid white;
  padding: 10px 30px;
  font-weight: bold;
  margin: 50px;
}

/****** footer *******/
footer .footer-info {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-info h2 {
  text-indent: -999px;
  background: url(./img/logo.png) no-repeat 50% / contain;
  width: 126px;
  height: 60px;
}
footer .footer-info .footer-info-list {
  margin: 20px 0;
}
footer .footer-info .footer-info-list h3 {
  font-weight: 700;
  font-family: var(--en-font);
}
footer .footer-info .footer-info-list {
  display: flex;
  align-items: center;
}
footer .footer-info .footer-info-list .footer-social-icon li {
  margin: 10px 20px;
}
footer .footer-info .footer-info-list .footer-social-icon li a img {
  width: 2.5%;
  opacity: 50%;
}
footer .copyrights {
  background-color: var(--gray-color);
  text-align: center;
  padding: 50px;
}
footer .copyrights ul {
  display: flex;
  justify-content: center;
}
footer .copyrights ul li:first-child:after {
  content: "/";
  margin-right: 5px;
}
